// # Sidenav Right 

// Offcanvas 
.offcanvas.offcanvas-end#affanOffcanvas(data-bs-scroll="true", tabindex="-1", aria-labelledby="affanOffcanvsLabel")
    button.btn-close.btn-close-white.text-reset(type="button", data-bs-dismiss="offcanvas", aria-label="Close")

    .offcanvas-body.p-0
        // Side Nav Wrapper 
        .sidenav-wrapper
            // Sidenav Profile 
            .sidenav-profile.bg-gradient
                .sidenav-style1

                // User Thumbnail 
                .user-profile
                    img(src="img/bg-img/2.jpg", alt="")

                // User Info 
                .user-info
                    h6.user-name.mb-0 Fahira
                    span Student, University of Logistics & International Business


            // Sidenav Nav 
            ul.sidenav-nav.ps-0
                li
                    a(href="page-home.html")
                        i.bi.bi-house-door
                        | Home
                li
                    a(href="settings.html")
                        i.bi.bi-gear
                        | Settings
                li
                    a(href="page-login.html")
                        i.bi.bi-box-arrow-right
                        | Logout

            // Social Info 
            .social-info-wrap
                a(href="#")
                    i.bi.bi-facebook
                a(href="#")
                    i.bi.bi-twitter
                a(href="#")
                    i.bi.bi-linkedin

            // Copyright Info 
            .copyright-info
                p 2023 &copy; Made by
                    a(href="#") Fahira